* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
.swiper {
    width: 512px;
    height: 512px;
    margin-top: 50px;
}

.swiper-slide img {
    width: 512px;
    height: 512px;
}